#nav
	#{link_to 'Home', static_page_path(:permalink => 'index')} | #{link_to 'About', static_page_path(:permalink => 'about')} | #{link_to 'Help', static_page_path(:permalink => 'help')} | #{link_to "Seedlings", seedlings_path}
	%span{"style" => "float: right"}
		-if current_user
			#{link_to "Profile", user_path(current_user)} | |
			#{nav_link "Play", "play", "index"} | |
			#{link_to "Logout", user_session_path, :method => :delete}
		-else
			#{nav_link "Sign Up!", "users", "new"} | #{nav_link "Login", "user_session", "new"}
