<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Turn plain webform into a powerful wizard with jQuery</title>
		<link rel="stylesheet" href="/stylesheets/validationEngine.jquery.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<link rel="stylesheet" href="/stylesheets/template.css" type="text/css" media="screen" title="no title" charset="utf-8" />
        
		<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>-->
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>

        <script src="/javascripts/ajaxupload.js"></script>
		<script src="/javascripts/jquery.validationEngine-en.js" type="text/javascript"></script>
		<script src="/javascripts/jquery.validationEngine.js" type="text/javascript"></script>
		<script src="/javascripts/livevalidation.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/validate/jquery.validate.js"></script>


        <!-- JQuery script for form wizard and image preview -->
        <script type="text/javascript">
            var j$ = jQuery.noConflict();
            
            j$(document).ready(function(){
                j$("#SignupForm").formToWizard({
                    submitButton: 'SaveAccount'
                });
                
                // preview of the typed text fields
                j$('#SignupForm input, #SignupForm textarea').bind('blur keyup', function(){
                    j$('#placeholderdescription').text(j$('#Description').val());
                    j$('#placeholderdescription').html(j$('#placeholderdescription').html().replace(/\n/g, '<br />'));
                    j$('#placeholdertitle').text(j$('#Title').val());
                    j$('#placeholdertitle').html(j$('#placeholdertitle').html().replace(/\n/g, '<br />'));
                    j$('#placeholdertag').text(j$('#Tags').val());
                    j$('#placeholdertag').html(j$('#placeholdertag').html().replace(/\n/g, '<br />'));
                });
				//j$("#SignupForm").validate();
				j$("#SignupForm").validationEngine({});
				
           
            });
        </script>
    </head>
    <body>
        <div id="main">
			
            <% form_for @seedling, :html => {:id => "SignupForm", :multipart  => true } do |f| %>
            <form id="SignupForm">

                <fieldset>
                    <legend style = "visibility:hidden; height:0px;">
                        Project
                    </legend>
                    <div id="formdiv">
					
						<label class="formlabel">
				              Share your seedling project! <font class="notetext"> ...(Required) </font>
				        </label>
					
					    <%= f.file_field :project, :id => "picField", :onChange => "preview(this)"%>
					</div>
                </fieldset>

                <fieldset>
                    
					<legend style = "visibility:hidden; height:0px;">
                    Title
                    </legend>
                    
					<div id="formdiv">
						<label class="formlabel">
				          Title <font class="notetext"> ...(Required) </font>
				        </label>
					
					<%= f.text_field :title, :id => "Title", :class => "required, bigtextbox", :autocomplete=>"off" %>
	                    <br>
	                    
						<label class="formlabel">
					     Tags
					    </label>
                    <%= f.text_field :tag_names, :id => "Tags", :class => "bigtextbox", :autocomplete=>"off" %>
                    <br>
                    <br>
                    </div>
                </fieldset>

                <fieldset>
					<legend style = "visibility:hidden; height:0px;">
                        Statement
                    </legend>
					<div id="formdiv">
	                    <label class="formlabel">
				              What do you want others to learn? <font class="notetext"> ...(Required) </font>
				        </label>
                    
                    <%= f.text_area :description, :id => "Description", :class => "desctextarea"  %>
					</div>
                </fieldset>

                <fieldset>
                    <Legend style = "visibility:hidden; height:0px;">
                        Location
                    </Legend>
                    <%= f.hidden_field :user_ids, :value => [current_user.id] %>
					<div class = "controlspanel" >
						<table id="globecontrols">
							<tr align="right">
								<td >
			                    <label class="formlabelsmall">
			                        Latitude*
			                    </label>
								</td>
								<td>
			                    <%= f.text_field :lat, :id => "lat", :class => "loctxt"%>
			           			</td>
								<td>
			                    <label class="formlabelsmall">
			                        Longitude*
			                    </label>
			                    </td>
								<td>
								<%= f.text_field :lon, :id => "lon", :class => "loctxt"%>
			                    </td>
								<td>
			                    <label class="formlabelsmall">
			                        Altitude*
			                    </label>
			                    </td>
								<td>
								<%= f.text_field :alt, :id => "alt", :class => "loctxt"%>
			                    
								</td>
								<td align="right" style="width:66px;"> 
								<a id = "sow" Title = "Plant Seedling" href = "javascript:plantit()"></a>
								</td>
							</tr>
						</table>
					</div>

				</fieldset>

                <fieldset>
                    
					<legend style = "visibility:hidden; height:0px;">
                        Final Check
                    </legend>
                    <div id="formdiv">
						<label class="formlabel">
				              A final Check: You are ready to plant this seedling!
				        </label>
						<br> <br>
						<!-- <%= f.submit "Submit", :id => "SaveAccount" %> -->
						
						<table width="100%"><tr><td align="center"><a id = "plantit" Title = "Plant Seedling" href = "javascript:submitform();"></a></td></tr></table>
						
                    </div>
				</fieldset>

            </form>
            <% end %>
			
        </div>
    </body>
</html>
