//Google Earth Dispaly 
- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "seedlings"
%script{:type => "text/javascript", :src => "http://www.google.com/jsapi?key=ABQIAAAAkTy_IFxK_2zZFslisZ2PwBT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTg80_k6JMQAGXUyaHQIuTdC0uomg"} 
%script{:src => "http://earth-api-utility-library.googlecode.com/svn/trunk/extensions/dist/extensions.pack.js"}
%script{:type => "text/javascript"}
%link{:rel=>"stylesheet", :type=>"text/css", :href=>"seedlings.css", :media=>"all"}
%script{:type => "text/javascript"}
  var ge;
  var gex;
  google.load("earth", "1.x");
  google.load("maps", "2.x");

  
  function init(){
  google.earth.createInstance('map3d', initCB, failureCB);
  
  }
  function initCB(instance){
  ge = instance;
  ge.getWindow().setVisibility(true);
  gex = new GEarthExtensions(ge);
  //gex.dom.addPointPlacemark(gex.util.getLookAt(), { name: 'Hello World!' });
  ge.getNavigationControl().setVisibility(ge.VISIBILITY_SHOW);
  ge.getLayerRoot().enableLayerById(ge.LAYER_BORDERS, true);
  
  // Icon Style for Seedling placemarks
  var icon = ge.createIcon('');
  icon.setHref('http://karunatree.com/seedgraphics/seedling.png');
  var style = ge.createStyle('');
  style.getIconStyle().setIcon(icon);

  placemark = ge.createPlacemark('');
  placemark.setName('Starting Point');
  var point = ge.createPoint('');
  point.setLatitude(#{@seedling.lat.to_json});
  point.setLongitude(#{@seedling.lon.to_json});
  placemark.setName(#{@seedling.title.to_json});
  placemark.setDescription(#{@seedling.description.to_json});
  placemark.setStyleSelector(style);
  point.setAltitudeMode(13);
  placemark.setGeometry(point);
  ge.getFeatures().appendChild(placemark);
  
  google.earth.addEventListener(placemark, 'click', function(event){
  // prevent the default balloon from popping up
  event.preventDefault();
  var balloon = ge.createHtmlDivBalloon('');
  balloon.setFeature(placemark); // optional
  balloon.setMaxWidth(620);
  balloon.setMaxHeight(620);
  balloon.setBackgroundColor('black');
  // create the <div>
  var div = document.createElement('DIV');
  div.innerHTML = '<table id=tabseedlings>' +
  '<tr> <td colspan="2"> <img id="imggrid" src="http://www.google.com/googlegulp/images/logo.gif" height = "450" width = "600"> </td> </tr>' +
  '<tr> <td colspan="2"> <b>Title:</b> #{@seedling.title.to_json}</td></tr>' +
  '<tr> <td colspan="2"> <b>Message:</b> #{@seedling.description.to_json}</td></tr>' +
  '<tr> <td colspan="2"> <b>For:</b> NEED FOR ROW IN SEEDLING MIGRATION.</td></tr>' +
  '<tr> <td colspan="2"> <b>Author:</b> USERNAME GOES HERE.</td></tr>' +
  '<tr> <td> <a href="/seedlings/#{@seedling.id.to_json}/details">Details</a></td> <td align="right"><img src="http://karunatree.com/seedgraphics/seedling.jpg"></td></tr></table>';
  
  
  balloon.setContentDiv(div);
  ge.setBalloon(balloon);
  });

  }
  function failureCB(errorCode){
  }

  google.setOnLoadCallback(init);
  

%div{:id => "map3d", :style => "height: 800px; width: 1200px;"}