- title "Seedlings"

%table
  %tr
    %th User
    %th Title
    %th Description
    %th Lat
    %th Lon
    %th Alt
  - for seedling in @seedlings
    %tr
      %td= h seedling.user_id
      %td= h seedling.title
      %td= h seedling.description
      %td= h seedling.lat
      %td= h seedling.lon
      %td= h seedling.alt
      %td= link_to 'Show', seedling
      %td= link_to 'Edit', edit_seedling_path(seedling)
      %td= link_to 'Destroy', seedling, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Seedling", new_seedling_path
