//   Karunatree
//   Copyright 2009-2010 Derek Lyons & Karunatree. All Rights Reserved.
//   
//   Author: Raminder Goraya & Jason Lu

- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "seedlings-guided-creation"
  /= stylesheet_link_tag "seedlings"


%div{:id => "maincontainer"}

  %div{:id => "contentwrapper"}
    // C R E A T I O N      C O L U M N
    %div{:id => "left-column-div"}
      %div{:class => "previewhead"}
        %div{:class => "iconimg"}
        %ul{ :id =>"steps"}      
      %div{:class => "previewcontent", :style => "height:635px;"}
        %div
          %div{:id => "globe3d"}
        %div{:id => "controls"}
          %div{:class => "controlspanel"}        
            %table{:id => "globecontrols"}
              %tr
                %td{:style => "width:40px;"}
                  %a{:id => "blue-marble", :class => "checked", :href => "javascript:getoggle('kml-blue-marble-check','blue-marble');", :onMouseOver =>"javascript:toggletext('Show/hide blue-marble');", :onmouseout=>"javascript:toggletext('');"}
                %td{:style => "width:40px;"}
                  %a{:id => "atmosphere", :class => "checked", :href => "javascript:getoggle('kml-atmosphere-check','atmosphere');", :onMouseOver =>"javascript:toggletext('Show/hide Atmosphere');", :onmouseout=>"javascript:toggletext('');"}
                %td{:style => "width:40px;"}
                  %a{:id => "border", :class => "off", :href => "javascript:getoggle('kml-border-check','border');", :onMouseOver =>"javascript:toggletext('Show/hide Borders');", :onmouseout=>"javascript:toggletext('');"}
                %td{:style => "vertical-align:bottom"}
                  %div{:id => "toggletext"}
                %td{:align => "right", :style => "width:120px;"}
                  %input{ :id => "txtflyto", :class => "loctxt", :type => "text", :placeholder => "San Francisco, CA"}/
                %td{:style => "width:66px;"}
                  %a{:id => "flyto", :Title => "Fly to the Entered Destination", :href =>"javascript:FlytoClick()"}
        %div{:id => "replace"}
          = render :partial => "formWizard"
        %div{:id =>"errordiv", :class=>"invisible"}
      %br
  // A hidden div containing checkboxes to toggle Google earth layers visibility          
  %div{:id => 'checkboxes-ui', :style => "visibility:collapse; height:0px"}    

    
      
  // P R E V I E W        S E E D L I N G      I N F O R M A T I O N
  %div{:id => "previewcolumn"}
    .innertube
      
      %div{:id=>"preview1", :class=>"active"}    
        %div{:class=>"previewhead"} Project
        %div{:class=>"contentflat"}
          %div{:id => "placeholderimg"}
            %img{ :src =>"../images/seedlings/projectplacehold.png", :width=>"338px", :height=>"195px", :alt => "Seedling will preview here", :id => "previewField"}
      
      %div{:id=>"preview2"}  
        %div{:class=>"headflat"} Title and Tags
        %div{:class=>"contentflat"}
          %div{:id => "placeholdertitle"}
          %div{:id => "placeholdertag"}
      
      %div{:id=>"preview3"}  
        %div{:class=>"headflat"} Artist&#39;s Statement
        %div{:class=>"contentflat"}
          %div{:id => "placeholderdescription"}      
      
                          
      %div{:id=>"preview4"}  
        %div{:class=>"headflat"} Location
        %div{:class=>"previewcontent"}
          %div{:id => "placeholdergeo"}
            %div{:id => "map_description"}
              %div{:class => "locationicon"}
                =image_tag "/images/system/icons/location.png", :size => "13x24"
              %div{:id => "lbladdress"}
            %div{:id => "locationwrapper"}
            %div{:id => "previewmap"}
              %img{:id => "map_canvas", :width => "338px", :height =>"160px", :src =>"../images/seedlings/mapplacehold.png", :alt => "thumbnail map"}
            %div{:id => "previewgeo"}
              %table{:id=>"globecontrols"} 
                %tr
                  %td{:id => "latlabel", :style => "border-right:1px solid #fafafa"} Lat
                  %td{:id => "latkeeper"}             
                  %td{:id => "lonlabel", :style => "border-right:1px solid #fafafa"} Lon
                  %td{:id => "lonkeeper"}                            
                  %td{:id => "altlabel", :style => "border-right:1px solid #fafafa"} Alt
                  %td{:id => "altkeeper"}    
                       

            

  %div{:id => "footer"}
    Copyright &copy; 2009-2011 Karunatree LLC. #{link_to "Contact Us", contact_path}     

= render :partial => "googleEarthGC"
= render :partial => "layerToggling"  
= render :partial => "imagePreview"
= render :partial => "formWizardFunctions"
    
/          - form_for @seedling do |f|
/            = f.error_messages
/            = render :partial => "project_step", :locals => {:f => f}
/        %p
/          /= button_to_remote "Continue", :update => "replace", :partial => "#{@seedling.next_step}_step"
/          = button_to_remote "Continue", :url => { :action => :next }
/          
/          /, :partial => "#{@seedling.current_step}_step", :locals => {:f => f}
/          
/        %p
/          = button_to_remote "Back", :update => "replace", :url => { :action => :back }
