- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "seedlings"

%body{:onload => "MapImg()"}/

- title "Seedling"
%div{:id => "maincontainer"}
  %div{:id => "contentwrapper"}
  
    // T H E      C O N T E N T       C O L U M N
    %div{:id => "contentcolumn"}
      // Project Block
      %div{:id => "imggrid", :class => "projectdiv"}
        = image_tag @seedling.project.url(:large), :id => "proj-img"
        
      // Byline Block
      %div{:class => "bylinediv"} 
        %div{:class => "titlediv"}
          %h1
            %span{:class => "titlecolor"}#{@seedling.title}
        - if(!@seedling.users.empty?)
          = image_tag @seedling.users.first.avatar.url(:square), :id => "avatar-img", :size => "60x60"
          %div{:class => "authordiv"}
            by #{formatted_links_to_users}
        
        // Segmented controls block (currently put in a random image sprites button)         
        //%div{:class => "clearleft"}
        //%div{:id => "btndiv"}
        //  %a{:id=>"reset", :Title => "Set the Seedling position", :href => "javascript:shiftplacemark()"}
        %div{:class => "clearall"}
          
      %br
      
      // Description block
      %div{:id => "imggrid", :class => "artiststmt"}
        %h2{:class => "bluecolor"}
          -if(@seedling.users.count == 1)
            Artist's Statement
          -else
            Artists' Statement
        // Audio controls block
        %div{:id => "audiodiv"}
          -if(!@seedling.audio_message_file_name.nil?)
            %audio{ :src => @seedling.audio_message.url, :controls => true}
        %div{:class => "clearall"}
        %p
          =h @seedling.description
        %div{:id => "imggrid", :class => "admindiv"}
          %p Great job! Most people don't know that palm oil threatens elephant habitats.
      %br

        // Comments block
      %div{:id => "imggridmore", :class => "responses"}
        %h2{:class => "bluecolor"} Responses
        %div{:class => "clearleft"}
        %div{:id => "comment"}
          - @comments = @seedling.comments
          - iterations = @comments.length - 1
          - iterations.times do |i|
            %p
              %b #{@comments[i].author},
              when:
              = @comments[i].created_at
              %br
              Says:
              = @comments[i].body
          = render :partial => "comments/comment", :object => @seedling.comments
      %div{:id => "imggridclip", :class => "responses"}
        
        %p 
          %b{:class => "titlecolor"}Learn Something? Leave a Response       
        - form_remote_for([@seedling, @seedling.comments.build]) do |f|
          = error_messages_for "comment"
          
          %p
            = f.label "Your name:"
            = f.text_field :author
          %p
            = f.label "Your response:"
            %br
            = f.text_area :body, :rows => 6, :cols => 70
          %p
            = f.submit "Submit"      
      %br  
  
  // T H E      S E C O N D       C O L U M N  ( C E N T E R )       
  %div{:id => "leftcolumn"}
    .innertube
      // Hybrid Google Map block
      %div{:id => "imggrid", :class => "mapdiv"}
        %h3{:class => "bluecolor"}Seedling Location
        %img{:id => "map_canvas", :width => "180px", :src =>"", :alt => "thumbnail map"}
        %br
        %br
        %div{:id => "map_description"}
          %div{:class => "locationicon"}
            =image_tag "/images/system/icons/location.png", :size => "13x24"
          %div{:id => "lbladdress"} 
          
      // Block containing a table with Likes, Tweets and Friendly ids  
      %br
      %div{:id => "imggrid"}
        %div{:class => "paneldiv"}
          %div{:class => "iconimg"}
            = image_tag "/images/system/icons/heart.png", :size => "18x18"
          %div{:class => "icondesc"}
            =link_to boosts_description, "http://google.com"
        %div{:class => "paneldiv"}
          %div{:class => "iconimg"}
            = image_tag "/images/system/icons/transplant.png", :size => "18x18"
          %div{:class => "icondesc"}
            =link_to "Transplant", "http://google.com"   
        %div{:class => "paneldiv"}
          %div{:class => "iconimg"}
            = image_tag "/images/system/icons/twitter.png", :size => "18x18"
          %div{:class => "icondesc"}
            =link_to "Tweet", "http://twitter.com/home?status=#{@seedling.title} on @karunatree: #{@seedling.short_url}", :title => "Tweet"
        %div{:class => "paneldiv"}
          %div{:class => "iconimg"}
            = image_tag "/images/system/icons/link.png", :size => "18x18"
          %div{:class => "icondesc"}
            http://ktre.es/00000
                               
      
      // Tags block
      %br
      %div{:id => "imggrid", :class => "tagsdiv"}      
        %h3{:class => "bluecolor"} Tags
        %p{:class => "titlecolor"}
          - for tag in @seedling.tags
            #{tag.name}
          
      %br
      // Geo data block    
      %div{:id => "imggrid"}
        %ul#switchlist
          %li
            %div{:id => "list_a_excl_collapsed", :class => "paneldiv", :style => "display:block"}
              %a{:href => "javascript:swap('list_a_excl',groupA)"}
                %b View Geo Details
            %div{:id =>"list_a_excl_expanded", :class => "paneldiv", :style => "display:none"}
              %a{:href => "javascript:swap('list_a_excl',groupA)"} 
                %b Hide Details
              // The details table which switches open:        
              %table{:id => "globecontrols"} 
                %tr
                  %td{:align => "left"}
                    Latitude
                  %td{:align => "left"}  
                    =h @seedling.lat
                %tr
                  %td{:align => "left"}
                    Longitude
                  %td{:align => "left"}  
                    =h @seedling.lon
                %tr
                  %td{:align => "left"}
                    Altitude
                  %td{:align => "left"}  
                    =h @seedling.alt        
                    
                    
                    
  // T H E      R I G H T       C O L U M N                        
  %div{:id => "rightcolumn"}
    .innertube
    
      // Contact us block   
      %div{:id => "imggrid", :class => "contactusdiv"}
        %h3 Girls, Inc. Parents:
        %p
          Did your daughter help create this Seedling? Some authors are not credited because we are missing consent forms. Please #{link_to "contact us", contact_path} to help your daughter claim her work! 
      
      
      // More_by block
      %br
      - if(has_related_works)
        %div{:id => "imggrid", :class => "morebydiv"}      
          %h3{:class => "bluecolor"}
            =more_by_description
          = more_by_links
      // Clippings block      
      //%div{:id => "imggridclip", :class => "clip"}      
      //  This Seedling has "x" clippings
      //  %br
      //  %img{:id => "map_canvas_thumb", :width => "60px", :src =>"", :alt => "thumbnail map"}
      //  %br
      //%br
      
  %div{:id => "footer"}
    Copyright &copy; 2009-2010 Karunatree. #{link_to "Contact Us", contact_path}    

%br

         
%p
  //= link_to "Edit", edit_seedling_path(@seedling)
  //|
  //= link_to "Destroy", @seedling, :confirm => 'Are you sure?', :method => :delete
  //|
  = link_to "View All", seedlings_path

%script{:src => "http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{REGISTRY[:api_key]}"}
%script{:type => "text/javascript"}

  // S T A T I C       G O O G L E       M A P  
  var map;
  var lat = #{@seedling.lat.to_json};
  var lon = #{@seedling.lon.to_json};
 
  function MapImg() {
  var mapurl = "http://maps.google.com/maps/api/staticmap?" +
  "center=" + lat + "," + lon +

  "&zoom=10&size=200x160&maptype=hybrid" +
  "&markers=icon:http://karunatree.com/images/seedlings/seedicon.png|" + lat + "," + lon +
  "&sensor=false";
  
  var mapurlthumb = "http://maps.google.com/maps/api/staticmap?" +
  "center=" + lat + "," + lon +
  "&zoom=1&size=300x250&maptype=hybrid" +
  "&markers=icon:http://karunatree.com/images/seedlings/seedicon.png|" + lat + "," + lon +
  "&sensor=false";
  
  document.getElementById("map_canvas").src= mapurl;
  
  //Commenting out this portion of code as we do not need this right (may need for clippings)
  //document.getElementById("map_canvas_thumb").src= mapurlthumb;
  
  // Call the Reverse Geocoding Function
  reverse(); 
  }
  
  //   F U N C T I O N S       F O R       S W I T C H - L I S T S
  var groupA = new Array();
  groupA[groupA.length] = "list_a_excl";
  
  // Swapping the Lists
  function swap(listIdPrefix, group) {
  collapsedList = document.getElementById(listIdPrefix + "_collapsed");
  expandedList = document.getElementById(listIdPrefix + "_expanded");
  if (collapsedList.style.display == "block") 
  {
  collapsedList.style.display = "none";
  expandedList.style.display = "block";
  } 
  else 
  {
  collapsedList.style.display = "block";
  expandedList.style.display = "none";
  }
  }  
  
  //   R E V E R S E     G E O C O D E      T H E      A D D R E S S 
  function reverse() {
  var geocoder;
  var address;
  map = new GMap2(document.getElementById("map_canvas"));
  var location=new GLatLng(lat,lon);
  geocoder = new GClientGeocoder();
  geocoder.getLocations(location, showAddress);
  }
  
  function showAddress(response) {
  map.clearOverlays();
  if (!response || response.Status.code != 200) {
  document.getElementById("lbladdress").innerHTML = "No known address";
  } else {
  place = response.Placemark[0];
  point = new GLatLng(place.Point.coordinates[1],place.Point.coordinates[0]);
  document.getElementById("lbladdress").innerHTML = place.address;
  }
  }
