- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "seedlings"

%body{:onload => "MapImg()"}/

- title "Seedling"
%div{:id => "maincontainer"}
  %div{:id => "contentwrapper"}
    // T H E      C O N T E N T       C O L U M N
    %div{:id => "contentcolumn"}
      .innertube
        // Project Block
        %div{:id => "imggridmore", :class => "styled"}
          = image_tag @seedling.project.url(:large), :id => "proj-img"  
        // Byline Block
        %div{:id => "imggridclip", :class => "styled"} 
          %strong 
            %q{:class => "titlecolor"}#{@seedling.title}
          by 
          %strong=h @seedling.authors
        %br
        %div{:id => "contentwrapper", :class => "styled"}
          // Segmented controls block (currently put in a random image sprites button)         
          %div{:id => "btndiv"}
            //%a{:id=>"reset", :Title => "Set the Seedling position", :href => "javascript:shiftplacemark()"}
        // Audio controls block
        %div{:id => "audiodiv"}
          %audio{ :src => @seedling.audio_message.url, :controls => true}      
        %br
        %br    
        // Description block
        %div{:id => "descrdiv", :class => "styled"}
          %b{:class => "titlecolor"} Description
          %p
          =h @seedling.description      
        %br
        // Comments block
        
        // Description block
        %div{:id => "descrdiv", :class => "styled"}
          %b{:class => "titlecolor"} Comments
          %div{:id => "comment"}
            - @comments = @seedling.comments
            - iterations = @comments.length - 1
            - iterations.times do |i|
              %p
                %b #{@comments[i].author},
                when:
                = @comments[i].created_at
                %br
                Says:
                = @comments[i].body
            = render :partial => "comments/comment", :object => @seedling.comments
        %div{:id => "descrdiv", :class => "styled"}
          
          %p 
            %b{:class => "titlecolor"} New Comment:       
          - form_remote_for([@seedling, @seedling.comments.build]) do |f|
            = error_messages_for "comment"
            
            %p
              = f.label :author
              = f.text_field :author
            %p
              = f.label :body
              = f.text_area :body, :rows => 10
            %p
              = f.submit "Submit"      
        %br  
  
  // T H E      S E C O N D       C O L U M N  ( C E N T E R )       
  %div{:id => "leftcolumn"}
    .innertube
      // Hybrid Google Map block
      %div{:id => "imggrid", :class => "styled"}
        %img{:id => "map_canvas", :width => "180px", :src =>"", :alt => "thumbnail map"}
        %br
        %b{:class => "titlecolor"} Planted here 
      // Block containing a table with Likes, Tweets and Friendly ids  
      %br
      %div{:class => "styled"}      
        %table{:id => "globecontrols"}
          %tr
            %td
              %button(){:name => "Like", :title => "Like this seedling!"}
                Like! #{@seedling.likes}
              %a{:href => "http://localhost:3000#{url_for(@seedling)}"}
                Like this seedling! 
              %td
              
          %tr
            %td
              %img{:src => "http://twitter-badges.s3.amazonaws.com/t_small-a.png"}
            
              %a{:href => "http://twitter.com/home?status=Great @karunatree seedling here: http://localhost:3000#{url_for(@seedling)}", :title => "Tweet this!"}
                Share this seedling on Twitter!
          %tr
            %td{:colspan => "2"}
              %strong
                www.karunatree.com/seedlings/#{@seedling.friendly_id}
                               
      %br
      // Tags block
      %div{:class => "styled"}      
        %b{:class => "titlecolor"} Tags:
        %p
        - for tag in @seedling.tags
          =tag.name
        %br
      // Geo data block    
      %div{:class => "styled"}
        %ul#switchlist
          %li
            %div{:id => "list_a_excl_collapsed", :style => "display:block"}
              %a{:href => "javascript:swap('list_a_excl',groupA)"} Geo Details
            %div{:id =>"list_a_excl_expanded", :style => "display:none"}
              %a{:href => "javascript:swap('list_a_excl',groupA)"} Hide Details
              // The details table which switches open:        
              %table{:id => "globecontrols"} 
                %tr
                  %td{:align => "left"}
                    %strong Latitude
                  %td{:align => "left"}  
                    =h @seedling.lat
                %tr
                  %td{:align => "left"}
                    %strong Longitude
                  %td{:align => "left"}  
                    =h @seedling.lon
                %tr
                  %td{:align => "left"}
                    %strong Altitude
                  %td{:align => "left"}  
                    =h @seedling.alt        
                    
                    
                    
  // T H E      R I G H T       C O L U M N                        
  %div{:id => "rightcolumn"}
    .innertube
      // More_by block
      %div{:id => "imggridmore", :class => "styled"}      
        More by
        %strong=h @seedling.authors
        %br
        = link_to image_tag (@seedling.project.url(:thumbnail), :width => "60px", :id => "more-link") , @seedling
      // Clippings block      
      %div{:id => "imggridclip", :class => "styled"}      
        This Seedling has "x" clippings
        %br
        %img{:id => "map_canvas_thumb", :width => "60px", :src =>"", :alt => "thumbnail map"}
        %br
      %br
      // Contact us block   
      %div{:class => "styled"}      
        Contact Us!
        %br
          If you haven't yet filled out a consent form for your seedling, we can't show your name on the site!  In order to obtain a consent form, please e-mail delyons (at) uci (dot) edu with the subject line "Consent Form for (your name)."
        %br    
      
  %div{:id => "footer"}
    Karunatree      

%br

         
%p
  = link_to "Edit", edit_seedling_path(@seedling)
  |
  = link_to "Destroy", @seedling, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", seedlings_path


%script{:type => "text/javascript"}
  
  // Retrieve all image URLs
  //var seeds = #{@seedling.user.seedlings.to_json};
  
  //alert(seeds);
  
  // Retrieve all seedling friendly urls
  //var moreby = #{User.get_more_by(@seedling).to_json};
    
  // Get the URL of the static Google Map to be displayed in map_canvas Div
  function MapImg() {
  
  var lat = #{@seedling.lat.to_json};
  var lon = #{@seedling.lon.to_json};

  var mapurl = "http://maps.google.com/maps/api/staticmap?" +
  "center=" + lat + "," + lon +
  "&zoom=2&size=200x160&maptype=hybrid" +
  "&markers=icon:http://sites.google.com/site/rimxzphoto/files/seedicon.png|" + lat + "," + lon +
  "&sensor=false";
  
  var mapurlthumb = "http://maps.google.com/maps/api/staticmap?" +
  "center=" + lat + "," + lon +
  "&zoom=1&size=300x250&maptype=hybrid" +
  "&markers=icon:http://sites.google.com/site/rimxzphoto/files/seedicon.png|" + lat + "," + lon +
  "&sensor=false";
  
  document.getElementById("map_canvas").src= mapurl;
  document.getElementById("map_canvas_thumb").src= mapurlthumb;
  }
  
  var groupA = new Array();
  groupA[groupA.length] = "list_a_excl";
  
  // Swapping the Lists
  function swap(listIdPrefix, group) {
  collapsedList = document.getElementById(listIdPrefix + "_collapsed");
  expandedList = document.getElementById(listIdPrefix + "_expanded");
  if (collapsedList.style.display == "block") 
  {
  collapsedList.style.display = "none";
  expandedList.style.display = "block";
  } 
  else 
  {
  collapsedList.style.display = "block";
  expandedList.style.display = "none";
  }
  }  
