- content_for(:include_custom_stylesheet) do
  = stylesheet_link_tag "ktree-forms"
  
%h1 Sign up
- form_for :user do |form|
  %fieldset
    %legend Please enter your details...
    = error_messages_for "user"
    .form-row
      %label{:for => "email"} Email &nbsp;
      = form.text_field :email, :size => User::EMAIL_SIZE, :maxlength => User::EMAIL_MAX_LENGTH
    .form-row
      %label{:for => "username"} Username &nbsp;
      = form.text_field :email, :size => User::USERNAME_SIZE, :maxlength => User::USERNAME_MAX_LENGTH
    .form-row
      %label{:for => "password"} Password &nbsp;
      = form.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH
    .form-row
      = submit_tag "Jump in!", :class => "submit"
