- content_for :include_custom_stylesheet do
  = stylesheet_link_tag "ktree-forms"

%h1 Log In
- form_for @user_session, :url => user_session_path do |form|
  %fieldset
    %legend Please enter your details
    .form-row
      %label{:for => "login"} Username &nbsp;
      = form.text_field :login, :size => User::USERNAME_SIZE, :maxlength => User::USERNAME_MAX_LENGTH
    .form-row
      %label{:for => "password"} Password &nbsp;
      = form.password_field :password, :size => User::PASSWORD_SIZE, :maxlength => User::PASSWORD_MAX_LENGTH
    .form-row
      %label{:for => "remember_me"} Remember me? &nbsp;
      = form.check_box :remember_me
    .form-row
      = form.submit "Jump in!", :class => "submit"
%p Not a member yet? You can #{link_to "sign up now", :controller => "users", :action => "new"} for free!
