<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= @title %></title>
    <%= stylesheet_link_tag "ktree-main" -%>
    <%= yield :include_custom_stylesheet -%>
    <%= javascript_include_tag "prototype.js" -%>
    <%= javascript_include_tag "effects.js" -%>
    <%= yield :include_custom_javascript_head %>
  </head>
  
  <body>
    <%= render(:partial => "shared/navigation") -%>
      
    <div class="content-container two-column">
      <div class="content-main">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] -%></div>
        <% end -%>
        <%= @content_for_layout %>
      </div>
    </div>
     
    <%= render(:partial => "shared/debug") %>
    <%= yield :include_custom_javascript_end %>
  </body>
</html>